body {
	background-image: url(http://wallpaperhd.go-gl.com/images/31927-download-dew-on-grass-blades-hd-wallpaper.jpg)
}
h1 {
	color: blue;
}
li#Highpriority {
	color: red;
}
li#Mediumpriority {
	color: orange;
}
li#Lowpriority {
	color: yellow;
}
p {
	color: green;
}