body {
	margin:0;
	padding:0;
}
#body {
	width:800px; 
	margin:auto;
} 
aside {
	text-align: center;
	width: 525px;
    background-color: orange;
    padding: 25px;
    border: 10px solid blue;
}
h2 {
	text-align: center;
	width: 525px;
    background-color: orange;
    padding: 25px;
    border: 10px solid blue;
}
ul {
	text-align: center;
	width: 525px;
    background-color: orange;
    padding: 25px;
    border: 10px solid blue;
}